/* :root {
  --font-ter: sans-serif;
  --clr-pri: 255, 242, 0;
  --clr-sec: 210, 85, 11;
  --clr-black: 0, 0, 0;
  --clr-dark: 11, 11, 11;
}
.content span {
  color: aliceblue;
}

.cs-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--clr-black), 0.7);
  backdrop-filter: blur(8px);
  flex-direction: column;
  display: none;
  &.show {
    display: flex;
  }
  &__media {
    position: relative;
    max-width: 8rem;
    max-height: 8rem;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .waviy {
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
    span {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-family: var(--font-ter);
      font-size: 1.8rem;
      font-weight: 400;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      animation: waviy 1s infinite;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(
        70deg,
        rgba(var(--clr-sec), 1),
        rgba(var(--clr-pri), 1),
        rgba(var(--clr-sec), 1)
      );
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          animation-delay: calc(0.1s * (#{$i}));
        }
      }
    }
  }
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
} */
